.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 350px;
    height: 350px;
    padding-top: 100px;
}

.timer{
    font-size: 130px;
    margin-top: -250px;
}

.areaBtn{
    margin-top:100px;
    display: flex;
}

.botao{
    width: 150px;
    background-color: #e9e9e9;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    padding: 5px;
}

.botao-go{
    width: 150px;
    background-color: #27db4e;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    padding: 5px;
}

.botao-stop{
    width: 150px;
    background-color: #d82323;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    padding: 5px;
}

.botao:hover{
    opacity: 0.9;
    color: #000;
    transition: all 0.50s;
}