.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    width: 250px;
    height: 250px;
    margin-top: 150px;
}

.textoFrase{
    font-style: italic;
    color: #dd7b22;
    text-align: center;
}

button{
    background-color: rgb(255, 165, 0.5);
    width: 200px;
    height: 50px;
    border-radius: 15%;
}